html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: url('../assets/images/cursor2.png'), auto;
  overflow: hidden; /* Prevent scrolling */
}


#gameMenu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    z-index: 10; /* Ensure it's above the game canvas */
    cursor: url('../assets/images/cursor2.png'), auto;

}

#gameContent {
 position: absolute; /* Position the element absolutely within its positioned ancestor, or the viewport if no such ancestor exists */
  top: 50%; /* Position the top edge of the element in the middle of the parent/viewport */
  left: 50%; /* Position the left edge of the element in the middle of the parent/viewport */
  transform: translate(-50%, -50%); /* Shift the element back by half its own width and height to center it */  
  max-width: 100vh; /* Maximum width */
  max-height: 100vh; /* Maximum height */
  width: 100vh;
  height: 100vh;
  margin: auto; /* Center the game */
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  overflow: hidden; /* Hide overflow */
}

#feedMenu {
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for true centering */
    height: 80vh; /* 80% of the viewport height */
    width: 80vh; /* 80% of the viewport width */
    display: none;
    flex-direction: column;
    align-items: left; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    gap: 2vh;
    z-index: 11; /* Ensure it's above the game canvas and gameMenu */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent blue background, similar to gameButton */
    border: 2px solid white; /* White border */
    border-radius: 2vh;
    padding: 10px;
    color: white;
    cursor: url('../assets/images/cursor2.png'), auto;

}

  
  .gameButton {
    background-color: rgba(0, 0, 255, 0.5); /* Semi-transparent blue background */
    color: white; /* White font */
    border: 2px solid white; /* White border */
    border-radius: 2vh;
    padding: 10px;
    cursor: pointer;
    font-size: 1em; /* Adjust size as needed */
    width: 26vh;
    cursor: url('../assets/images/cursor2.png'), auto;

  }
  
  .gameButton.active {
    background-color: #ff0000; /* Change the color to indicate active state */
    color: white; /* Optional: Change text color if needed */
    cursor: url('../assets/images/cursor2.png'), auto;
  }
